[Desktop Entry]
Name=routersploit
Exec=sudo /usr/bin/routersploit
Comment=
Terminal=true
Icon=/usr/share/icons/menu/exploit-tools.png
Type=Application
