[Desktop Entry]
Name=sslcaudit
Exec=sudo /usr/bin/sslcaudit
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
