[Desktop Entry]
Name=arp-scan
Exec=sudo /usr/bin/arp-scan
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
