[Desktop Entry]
Name=masscan
Exec=sudo /usr/bin/masscan
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
