[Desktop Entry]
Name=rtpinsertsound
Exec=sudo /usr/bin/rtpinsertsound
Comment=
Terminal=true
Icon=/usr/share/icons/menu/sniffing-wiretap.png
Type=Application
