[Desktop Entry]
Name=proxystrike
Exec=sudo /usr/bin/proxystrike
Comment=
Terminal=true
Icon=/usr/share/icons/menu/webapp-analysis-4.png
Type=Application
