[Desktop Entry]
Name=blindelephant
Exec=sudo /usr/bin/blindelephant
Comment=
Terminal=true
Icon=/usr/share/icons/menu/webapp-analysis-4.png
Type=Application
