[Desktop Entry]
Name=apache-users
Exec=sudo /usr/bin/apache-users
Comment=
Terminal=true
Icon=/usr/share/icons/menu/webapp-analysis-4.png
Type=Application
