[Desktop Entry]
Name=oclgausscrack
Exec=sudo /usr/bin/oclgausscrack
Comment=
Terminal=true
Icon=/usr/share/icons/menu/password-attack.png
Type=Application
