[Desktop Entry]
Name=http-tunnel
Exec=sudo /usr/bin/http-tunnel
Comment=
Terminal=true
Icon=/usr/share/icons/menu/maintaining-access-backdoor.png
Type=Application
