[Desktop Entry]
Name=weevely
Exec=sudo /usr/bin/weevely
Comment=
Terminal=true
Icon=/usr/share/icons/menu/maintaining-access-backdoor.png
Type=Application
