[Desktop Entry]
Name=cisco-auditing-tool
Exec=sudo /usr/bin/cisco-auditing-tool
Comment=
Terminal=true
Icon=/usr/share/icons/menu/exploit-tools.png
Type=Application
