[Desktop Entry]
Name=powerfuzzer
Exec=sudo /usr/bin/powerfuzzer
Comment=
Terminal=true
Icon=/usr/share/icons/menu/vulnerability-assessment.png
Type=Application
