[Desktop Entry]
Name=airdecap-ng & airdeclock-ng
Exec=sudo /usr/bin/airdecap-ng
Comment=
Terminal=true
Icon=/usr/share/icons/menu/wireless-lan.png
Type=Application
