[Desktop Entry]
Name=goofile
Exec=sudo /usr/bin/goofile
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
