[Desktop Entry]
Name=golismero
Exec=sudo /usr/bin/golismero
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
