[Desktop Entry]
Name=recon-ng
Exec=sudo /usr/bin/recon-ng
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
