[Desktop Entry]
Name=u3pwn
Exec=sudo /usr/bin/u3-pwn
Comment=
Terminal=true
Icon=/usr/share/icons/menu/maintaining-access-backdoor.png
Type=Application
