[Desktop Entry]
Name=metagoofile
Exec=sudo /usr/bin/metagoofil
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
