[Desktop Entry]
Name=cisco-torch
Exec=sudo /usr/bin/cisco-torch
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
