[Desktop Entry]
Name=hexorbase
Exec=sudo /usr/bin/hexorbase
Comment=
Terminal=true
Icon=/usr/share/icons/menu/vulnerability-assessment.png
Type=Application
