[Desktop Entry]
Name=automater
Exec=sudo /usr/bin/automater
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
