[Desktop Entry]
Name=cisco-ocs
Exec=sudo /usr/bin/cisco-ocs
Comment=
Terminal=true
Icon=/usr/share/icons/menu/vulnerability-assessment.png
Type=Application
