[Desktop Entry]
Name=gpp-decrypt
Exec=sudo /usr/bin/gpp-decrypt
Comment=
Terminal=true
Icon=/usr/share/icons/menu/password-attack.png
Type=Application
