[Desktop Entry]
Name=thc-pptp-bruter
Exec=sudo /usr/bin/thc-pptp-bruter
Comment=
Terminal=true
Icon=/usr/share/icons/menu/password-attack.png
Type=Application
