[Desktop Entry]
Name=dnswalk
Exec=sudo /usr/bin/dnswalk
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
