[Desktop Entry]
Name=rtpmixsound
Exec=sudo /usr/bin/rtpmixsound
Comment=
Terminal=true
Icon=/usr/share/icons/menu/sniffing-wiretap.png
Type=Application
