[Desktop Entry]
Name=ohrwurm
Exec=sudo /usr/bin/ohrwurm
Comment=
Terminal=true
Icon=/usr/share/icons/menu/vulnerability-assessment.png
Type=Application
