[Desktop Entry]
Name=jboss-autopwn
Exec=sudo /usr/bin/jboss-autopwn
Comment=
Terminal=true
Icon=/usr/share/icons/menu/webapp-analysis-4.png
Type=Application
