[Desktop Entry]
Name=cryptcat
Exec=sudo /usr/bin/cryptcat
Comment=
Terminal=true
Icon=/usr/share/icons/menu/maintaining-access-backdoor.png
Type=Application
