[Desktop Entry]
Name=sslsplit
Exec=sudo /usr/bin/sslsplit
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
