[Desktop Entry]
Name=kalibrate-rtl
Exec=sudo /usr/bin/kalibrate-rtl
Comment=
Terminal=true
Icon=/usr/share/icons/menu/wireless-lan.png
Type=Application
