[Desktop Entry]
Name=jboss-autopwn
Exec=sudo /usr/bin/jbossautopwn
Comment=
Terminal=true
Icon=/usr/share/icons/menu/exploit-tools.png
Type=Application
