[Desktop Entry]
Name=thc-ipv6
Exec=sudo /usr/bin/thc-ipv6
Comment=
Terminal=true
Icon=/usr/share/icons/menu/vulnerability-assessment.png
Type=Application
