[Desktop Entry]
Name=openvas
Exec=sudo /usr/bin/openvas
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
