[Desktop Entry]
Name=maltego-teeth
Exec=sudo /usr/bin/maltego-teeth
Comment=
Terminal=true
Icon=/usr/share/icons/menu/exploit-tools.png
Type=Application
