[Desktop Entry]
Name=metagoofil
Exec=sudo /usr/bin/metagoofil
Comment=
Terminal=true
Icon=/usr/share/icons/menu/reporting-tool-icon.png
Type=Application
