[Desktop Entry]
Name=shellter
Exec=sudo /usr/bin/shellter
Comment=
Terminal=true
Icon=/usr/share/icons/menu/maintaining-access-backdoor.png
Type=Application
