[Desktop Entry]
Name=intrace
Exec=sudo /usr/bin/intrace
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
