[Desktop Entry]
Name=fragroute
Exec=sudo /usr/bin/fragroute
Comment=
Terminal=true
Icon=/usr/share/icons/menu/information-gathering-4.png
Type=Application
