[Desktop Entry]
Name=cymothoa
Exec=sudo /usr/bin/cymothoa
Comment=
Terminal=true
Icon=/usr/share/icons/menu/maintaining-access-backdoor.png
Type=Application
