[Desktop Entry]
Name=termineter
Exec=sudo /usr/bin/termineter
Comment=
Terminal=true
Icon=/usr/share/icons/menu/network-stress-test.png
Type=Application
