[Desktop Entry]
Name=winexe
Exec=sudo /usr/bin/winex
Comment=
Terminal=true
Icon=/usr/share/icons/menu/maintaining-access-backdoor.png
Type=Application
