[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/faiz/Desktop/study_org]
row=3
col=0

[/home/faiz/Desktop/IDA Pro (32-bit).desktop]
row=5
col=0

[/home/faiz/Desktop/chrome-nbijalpneffngbkfkdikjeolmphefghm-Default.desktop]
row=4
col=0

[/home/faiz/Desktop/IDA Pro (64-bit).desktop]
row=0
col=1

[2021-09-01-22-55-46-00]
row=1
col=1

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/faiz]
row=1
col=0

